<div class = "container hide_form">
  <div class = "container">
    <div class = "list-group-item px-20" style = "border-radius: 10px" id = "comment-form">
      <div class = "field">
          <%= form_with(model: [@post, @comment]) do |f| %>
          <%= f.hidden_field :parent_id, value: @comment.parent_id %>
            <strong><%= f.label :"Content:" %></strong>
              <%= f.text_area :body, class: "form-control" %>
                <p></p>
              <div class = "btn-group btn-group-toggle actions edit" data-toggle = "buttons">
                <%= f.submit 'Edit', class: 'btn btn-warning btn-sm'%>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
