<br>
<div class="container reply_comment_form" id="reply_comment_form">
  <div class="list-group-item px-20" style = "border-radius: 10px">
    <div class="field">
      <%= form_with(model: [ @post, @post.comments.build ]) do |f| %>
        <%= f.hidden_field :parent_id, value: params[:parent_id] %>
          <strong><%= f.label :"Content:" %></strong>
          <%= f.text_area :body, class:"form-control" %>

          <p></p>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <%= f.submit 'Save', class:"btn btn-warning"%>
          </div>
      <% end %>
    </div>
  </div>
</div>
