<h1 align="center">Editing Comment</h1>
<div class="container, alert alert-secondary">
  <div class="list-group-item px-20" style = "border-radius: 10px" id="comment-form">
    <div class="field">
        <%= form_for ([@post, @comment]) do |f| %>
          <strong><%= f.label :"Content:" %></strong>
            <%= f.text_area :body, class: "form-control" %>
              <p></p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <%= f.submit 'Edit', class: 'btn btn-secondary'%>
              <%= link_to 'Back', @post, class: 'btn btn-dark'%>
            </div>
        <% end %>
    </div>
  </div>
</div>
