<img src = "https://i.imgur.com/NkrUvmr.jpg" class="img-fluid">
<div class = "container alert alert-warning text-dark">
  <head>
    <h1 align = "center">Posts</h1>
    <%= render partial: 'posts/flash',  flash: flash %>
  </head>

  <body>
    <% @posts.each do |post| %>
      <div class = "list-group-item px-20" style = "border-radius: 10px" >

        <p class = "fas fa-user"> <%= full_name(post) %></p>

        <h5><%= post.title %></h5>
        <hr>
        <h5>Content</h5>
          <p><%= post.content %></p>

        <div class = "pjax-container">
          <i class = "far fa-eye"> <%= post.impressions_count %></i>
          <i class = "far fa-comment-dots"> <%= post.comments.count %></i><br>
          <div class = "btn-group btn-group-toggle" data-toggle="buttons">
            <%= link_to 'Show', post , class: 'btn btn-warning'%>

            <% if current_author &&
                  current_author.id == post.author_id &&
                  current_author.banned == false %>

              <%= link_to 'Edit',
                          edit_post_path(post),
                          class: 'btn btn-outline-secondary' %>

              <%= link_to 'Destroy',
                          post,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-outline-dark',
                          remote: true%>
            <% end %>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div class = "row justify-content-center" >
        <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
    </div>
  </body>
</div>
