<div class="container, alert alert-secondary">
  <h1 align="center">Show</h1>
  <div class="list-group-item px-20" style = "border-radius: 10px">
    <p>
      <strong>Author:</strong>
      <%= full_name(@post) %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>
    <p>
      <strong>Content:</strong>
      <%= @post.content %>
    </p>
    <p>
      <strong>Image:</strong><br>
      <%= image_tag @post.image, width: '50%' %>
    </p>
    <p>
      <%= distance_of_time_in_words(Time.now.hour, Time.now-@post.created_at) %>
    </p>

    <div class="pjax-container">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <% if current_author &&
              current_author.id == @post.author_id &&
              current_author.banned == false%>
          <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary' %>
        <%end%>
          <%= link_to 'Back', posts_path, class: 'btn btn-dark' %>
      </div>
    </div>

    <br>
    <br>
    <br>

    <h5>Comments</h5>
    <div class = "comment">
      <%= nested_comments @post.comments.arrange(order: :created_at)%>
    </div>
    <%= render 'comments/form' %>
  </div>
</div>


<style media="screen">
  .nested_comments {
    margin-left: 30px;
  }
</style>
