<!DOCTYPE html>
<html>
  <% if cookie_index and current_user == nil %>
    <script>alert('Please login or register!!');</script>
  <% end %>
  <head>
    <title>Blog</title>

    <script src = "https://kit.fontawesome.com/ac7c51298a.js" crossorigin = "anonymous"></script>

    <nav class = "navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div>
        <i class = "fas fa-coffee" style="color: #ff922b;"></i>
        <%= link_to "Blog", home_path, class: "navbar-brand "%>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      </div>

      <%= form_tag(posts_path, :method => "get",
                                id: "search-form",
                                class:"form-inline center col-xs-4 col-sm-4 col-md-4") do %>

        <%= text_field_tag :search,
                            params[:search],
                            placeholder: "Search Posts",
                            class: "form-control mr-sm-2" %>

        <%= submit_tag "Search", class: "btn btn-outline-warning" %>
      <% end %>
      <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class = "navbar-nav mr-auto">
          <li class = "nav-item active"></li>
        </ul>
        <form class = "form-inline my-2 my-lg-0  ">
          <div class = "nav-item">
            <% if current_author %>
            <div class = "badge badge-light">
                Logged in as <%= current_author.email %>
              </div>
                <%= link_to "Logout", "/logout", class:'btn btn-outline-warning my-2 my-sm-0'  %>
                  <% if !current_author.banned? %>
                    <%= link_to "New post", new_post_path, class:'btn btn-warning'%>
                  <%end%>
            <% else %>
                <%= link_to "Log in", login_path, class:'btn btn-outline-warning my-2 my-sm-0'  %>
                <%= link_to "Sign up", signup_path, class:'btn btn-warning my-2 my-sm-0'%>
            <% end %>
          </div>
        </form>
      </div>
    </nav>
  </head>

  <body>
    <%= render partial: 'posts/flash',  flash: flash %>
    <%= yield %>
  </body>

  <footer class = " page-footer font-small bg-light">
    <div class = "footer-copyright text-center py-3 ">© 2019 RoR Homework:
      <strong>RoR_Blog</strong><br>
      <i class = "fab fa-facebook",  style = "color: #ff922b;" ></i>
      <i class = "fab fa-github", style = "color: #ff922b;"></i>
      <i class = "fab fa-telegram", style = "color: #ff922b;"></i>
    </div>
  </footer>
</html>
